<%- include('partials/header'); -%>

    <div class="b-example-divider"></div>

    <div class="container postBoxes">

        <div class="d-flex bd-highlight">

            <div class="p-5 flex-grow-1 bd-highlight">

                <form action="/signup" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="John Smith">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Register</button>
                </form>

            </div>

            <div class="p-2 bd-highlight">
                <img src="img/login.gif" alt="">
            </div>

        </div>

    </div>

    <%- include('partials/footer'); -%>